<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= resource.errors.full_messages.join(', ') %>


  <div class="field">

    <% if !resource.new_record? && resource.avatar.attached? %>
      <%= image_tag resource.avatar_thumbnail, class: "rounded" %>
    <% else %>
      <%= image_tag 'default_avatar.png', class: "size-20" %>
    <% end %>


    <%= f.file_field :avatar %>
  </div>


  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,autocomplete: "email" %>
  </div>



  <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<!--    <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>-->
  <%# end %>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<!--<h3>Cancel my account</h3>-->

<!--<div>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>-->

<%= link_to "Back", :back %>
