<div id="<%= dom_id sheet %>">
  <p>
    <strong>Name:</strong>
    <%= sheet.name %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= sheet.hp %>
  </p>

  <p>
    <strong>Mana:</strong>
    <%= sheet.mana %>
  </p>

  <p>
    <strong>Action points:</strong>
    <%= sheet.action_points %>
  </p>

  <p>
    <strong>Extra action points:</strong>
    <%= sheet.extra_action_points %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= sheet.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= sheet.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= sheet.constitution %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= sheet.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= sheet.wisdom %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= sheet.charisma %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= sheet.armor_class %>
  </p>

  <p>
    <strong>Initiative:</strong>
    <%= sheet.initiative %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= sheet.speed %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= sheet.level %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= sheet.experience %>
  </p>

</div>
