<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= character.hp %>
  </p>

  <p>
    <strong>Mana:</strong>
    <%= character.mana %>
  </p>

  <p>
    <strong>Action points:</strong>
    <%= character.action_points %>
  </p>

  <p>
    <strong>Extra action points:</strong>
    <%= character.extra_action_points %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= character.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= character.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= character.constitution %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= character.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= character.wisdom %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= character.charisma %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= character.armor_class %>
  </p>

  <p>
    <strong>Initiative:</strong>
    <%= character.initiative %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= character.speed %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= character.experience %>
  </p>

</div>
