<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= character.hp %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= character.armor_class %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= character.experience %>
  </p>
</div>
